<h1 class="text-center">EARDU SCANNING TUTORIAL</h1>

<div *ngIf="!active">
    <h2>First, you will practice using the <b>scanning</b> method on the EARDU keyboard</h2>

    <p>1. Press <b>either Shift key</b> to begin</p>
    <p>2. The keyboard will begin scanning downwards</p>
    <p>3. When highlighted row contains the desired key, press <b>either Shift key</b> again</p>
    <p>4. The keyboard will begin scanning from left to right</p>
    <p>5. When desired key is highlighted, press <b>either Shift key</b> again</p>
    <p>6. Press <b>either Shift key</b> to begin again</p>
    
    <h3>There is no way to backspace, just continue to writing the next key</h3>

</div>
<div>
    <app-test target="I_AM" [practice]="true">
        <app-freq-scan></app-freq-scan>
    </app-test>
</div>


<div *ngIf="testPassed">
    <button  mat-raised-button color="primary" (click)="next()">Next</button>
</div>
