<h1 class="text-center">EARDU YELLOW BLUE TUTORIAL</h1>

<div *ngIf="!active">
    <h2>Next, you will practice using the <b>yellow blue</b> method on the EARDU keyboard</h2>

    <p>2. Press <b>either Shift key</b> to begin</p>
    <p>3. The keyboard will highlight blue and yellow sections</p>
    <p>4. Press the <b>left shift key</b> to select the <b>yellow</b> section</p>
    <p>5. Press the <b>right shift key</b> to select the <b>blue</b> section</p>
    <p>6. Keep making selections until desired key is selected</p>

</div>
<div>
    <app-test target="I_AM" [practice]="true">
        <app-freq-recur></app-freq-recur>
    </app-test>
</div>


<div *ngIf="testPassed">
    <button  mat-raised-button color="primary" (click)="next()">Next</button>
</div>
